body {
    background-color: rgb(226, 238, 203);
    color: white;
    font-size: 20px;
}

.center {
    text-align: center;
}

.grid-container p {
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    grid-gap: 1rem;
}

.grid-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.grid-container img {
    object-fit: cover;
    width: 315px;
    height: 315px;
    border: 3px double black;
}

.grid-container img:hover {
    border: 3px double #e00a74;
}

#submit-main {
    font-family: "Inconsolata", monospace;
    padding: 10px;
    font-size: 20px;
    border: 3px double black;
    width: 20%;
    background: wheat;
    margin-left: 6px;
}

#submit-main:hover {
    color: white;
}

#submit-main:focus {
    outline: none;
}

.file-submit {
    margin-top: 15px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}
