body {
    min-height: 100vh;
    width: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: rgb(219, 203, 203);
}

h4,
h2,
h5,
h3 {
    color: white;
}
#main {
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.center {
    text-align: center;
}

#main {
    display: flex;
    flex-direction: column;
}
.center {
    text-align: center;
}

#imagebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.card {
    width: 30vw;
    min-width: 100px;
    display: inline-block;
    background-color: rgb(78, 72, 72);
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 30vw;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.95;
    background-color: rgb(78, 72, 72);
}

.modal-container img {
    width: 75vw;
    height: 100%;
    object-fit: cover;
    object-position: 20% 0;
}

.moreBtn {
    min-width: 5px;
}

#NYCS_4_destination_sign {
    margin-top: 0;
    width: 100%;
    height: 150px;
    z-index: -1;
}
